<header>
  <section class="language-section">
    <!-- <img class="flag" src="assets/images/188pxFlagOfBulgaria.svg.png" alt="" />
      <img
        class="flag"
        src="assets/images/48pxFlagOfTheUnitedKingdom.svg.png"
        alt=""
      /> -->
  </section>
  
  <section class="nav-section">
    
      <!-- <img class="logo" src="assets/images/logo-img.jpg" alt="" />
      <div>
        <img src="assets/images/BabaliNadpis.jpg" alt="" />
        <img class="moto" src="assets/images/babaliNadpis2.jpg" alt="" />
      </div> -->
      <img class="logo" src="assets/images/logo-img.jpg" alt="" />
    
    <article class="nav-article">
      <nav>
        <ul class="nav-ul">
          <li class="nav-li"><a routerLink="/">Начало</a></li>
          <li class="nav-li"><a routerLink="/products">Нашите продукти</a></li>
          <li class="nav-li"><a routerLink="/about">За нас</a></li>
          <li class="nav-li"><a routerLink="/contacts">Контакти</a></li>
          <li class="nav-li">
            <img
              class="cart"
              src="assets/images/Kolichka.png"
              routerLink="/cart"
            />
          </li>
        </ul>
      </nav>
    </article>
  </section>
</header>
