<h2 class="heading">Нашите продукти:</h2>
<!-- <ul class="nuts-types">
  <li class="nut-type">Пържени ядки</li>
  <li class="nut-type">Печени ядки</li>
  <li class="nut-type">Сурови ядки</li>
  <li class="nut-type">Сушени плодове</li>
</ul> -->
<section class="products-section">
  <section class="product-wrapper">
    <img #img src="assets/images/DSC0284.jpg" alt="" />
    <p #productName>ЛЕШНИК</p>
    <p #price>8.99 лева</p>
    <button (click) ="moveProductInCart(img, productName, price)" class="buy-button">КУПИ</button>
  </section>
  <section class="product-wrapper">
    <img #img1 src="assets/images/DSC0284Badem.jpg" alt="" />
    <p #productName1>БАДЕМ</p>
    <p #price1>8.99 лева</p>
    <button (click) ="moveProductInCart(img1, productName1, price1)" class="buy-button">КУПИ</button>
  </section>
  <section class="product-wrapper">
    <img #img2 src="assets/images/DSC0284oreh.jpg" alt="" />
    <p #productName2>ОРЕХИ</p>
    <p #price2>8.99 лева</p>
    <button (click) ="moveProductInCart(img2, productName2, price2)" class="buy-button">КУПИ</button>
  </section>
  <section class="product-wrapper">
    <img #img3 src="assets/images/DSC0284shamfustuk.jpg" alt="" />
    <p #productName3>ШАМФЪСТЪК</p>
    <p #price3>8.99 лева</p>
    <button (click) ="moveProductInCart(img3, productName3, price3)" class="buy-button">КУПИ</button>
  </section>
  <section class="product-wrapper">
    <img #img5 src="assets/images/DSC0284furmi1.jpg" alt="" />
    <p #productName5>ФУРМИ</p>
    <p #price5>8.99 лева</p>
    <button (click) ="moveProductInCart(img5, productName5, price5)" class="buy-button">КУПИ</button>
  </section>
  <section class="product-wrapper">
    <img #img4 src="assets/images/DSC0284kashu.jpg" alt="" />
    <p #productName4>КАШУ</p>
    <p #price4>8.99 лева</p>
    <button (click) ="moveProductInCart(img4, productName4, price4)" class="buy-button">КУПИ</button>
  </section>
  <section class="product-wrapper">
    <img #img6 src="assets/images/_DSC0284.jpg" alt="" />
    <p #productName6>ПЕЧЕНИ ФЪСТЪЦИ</p>
    <p #price6>8.99 лева</p>
    <button (click) ="moveProductInCart(img6, productName6, price6)" class="buy-button">КУПИ</button>
  </section>
  <section class="product-wrapper">
    <img #img7 src="assets/images/_DSC0284biren.jpg" alt="" />
    <p #productName7>БИРЕНИ ФЪСТЪЦИ</p>
    <p #price7>8.99 лева</p>
    <button (click) ="moveProductInCart(img7, productName7, price7)" class="buy-button">КУПИ</button>
  </section>
  <section class="product-wrapper">
    <img #img6 src="assets/images/_DSC0284surovo kashu.jpg" alt="" />
    <p #productName6>СУРОВО КАШУ</p>
    <p #price6>8.99 лева</p>
    <button (click) ="moveProductInCart(img6, productName6, price6)" class="buy-button">КУПИ</button>
  </section>
</section>
