<section class="big-img-section">
    <img class="big-img" src="assets/images/_DSC0348ff.jpg" alt="" />
  </section>
  <!-- <section class="three-img-section">
    <article>
      <img class="small-img" src="assets/images/DSC0343.jpg" /><img
        class="small-img"
        src="assets/images/DSC0343.jpg"
      /><img class="small-img" src="assets/images/DSC0343.jpg" />
    </article>
  </section> -->
  <section class="products-section">
    <section class="product-wrapper">
      <img #img src="assets/images/DSC0284.jpg" alt="" />
      <p #productName>ЛЕШНИК</p>
      <p #price>8.99 лева</p>
      <button (click) ="moveProductInCart(img, productName, price)" class="buy-button">КУПИ</button>
    </section>
    <section class="product-wrapper">
      <img #img1 src="assets/images/DSC0284Badem.jpg" alt="" />
      <p #productName1>БАДЕМ</p>
      <p #price1>8.99 лева</p>
      <button (click) ="moveProductInCart(img1, productName1, price1)" class="buy-button">КУПИ</button>
    </section>
    <section class="product-wrapper">
      <img #img2 src="assets/images/DSC0284oreh.jpg" alt="" />
      <p #productName2>ОРЕХИ</p>
      <p #price2>8.99 лева</p>
      <button (click) ="moveProductInCart(img2, productName2, price2)" class="buy-button">КУПИ</button>
    </section>
    <section class="product-wrapper">
      <img #img3 src="assets/images/DSC0284shamfustuk.jpg" alt="" />
      <p #productName3>ШАМФЪСТЪК</p>
      <p #price3>8.99 лева</p>
      <button (click) ="moveProductInCart(img3, productName3, price3)" class="buy-button">КУПИ</button>
    </section>
    <section class="product-wrapper">
      <img #img5 src="assets/images/DSC0284furmi1.jpg" alt="" />
      <p #productName5>ФУРМИ</p>
      <p #price5>8.99 лева</p>
      <button (click) ="moveProductInCart(img5, productName5, price5)" class="buy-button">КУПИ</button>
    </section>

  </section>
  
